@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted">
        <span>Меню</span>
        </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Index">
            <span data-feather="bar-chart-2"></span>
            Визуализация
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">
            <span data-feather="layers"></span>
            О программе
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">О программе</h1>
    </div>

    <div class="my-4 w-100" width="900" height="380">
      <p>Добавить описание</p>
    </div>
    
  </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
